

.title[b-d5vw4x6be6] {
    margin-left: 2rem;
}
.container[b-d5vw4x6be6] {
    margin-left: 2rem;
    height: 25rem;
    width: 95%;
    background-color: rgb(250, 250, 250);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding-top: 0.5rem;
}

.container1[b-d5vw4x6be6] {
    width: 46%;
    height: auto;
    padding-bottom: 20px;
}

.container2[b-d5vw4x6be6] {

    margin-top: 1rem;
    padding: 1rem;
    background-color: lightblue;
    
}