@page
@model Project.Pages.Admin.AddRoom
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "AddRoom";
}

<h1 class = "Title">@ViewData["Title"]</h1>

<main>
<div class="container">
    <form method="post">
        <div class="container3">

            <div class="container1">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input asp-for="Name" type="Text" class="form-control" id="exampleFormControlInput1" placeholder="Name for new room">
                </div>
        </div>     
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="mb-3 btn">
            <button type="submit" value="booking" class="btn-blue">Create</button>
        </div>
    </form>
</div>
</main>