@page
@model Project.Pages.Admin.AddRoom
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "AddRoom";
}

<h1 class = "Title">@ViewData["Title"]</h1>

<main>
<div class="container">
    <form method="post">
        <div class="container3">

            <div class="container1">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input asp-for="Name" type="Text" class="form-control" id="exampleFormControlInput1" placeholder="Name for new room">
                </div>
        </div>     
        <div class="mb-3">

            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <select asp-for="Description" class="form-select form-control" id="exampleFormControlTextarea1" rows="3">
                <option value="">--Select Room--</option>
                <option value="Ruangan Besar">Ruangan Besar(>10)</option>
                <option value="Ruangan Sedang">Ruangan Sedang (5-10) </option>
                <option value="Ruangan Kecil" >Ruangan Kecil (<5) </option>
            </select>
        </div>              
            <div class="mb-3 btn">
            <button type="submit" value="booking" class="btn-blue">Create</button>
             </div> 
    </form>    
        @if (!string.IsNullOrEmpty(Model.Notifications))
        {

            @if (Model.Notifications.Contains("Error"))
            {
                            <div class="alert alert-danger" role="alert">
                            @TempData.Peek("Notifications");
                            </div>
            }
        }

</div>
</main>