@page
@model Project.Pages.Admin.Booking
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Booking Meeting Room";
}

<h1 class="title">@ViewData["Title"]</h1>

<main>
<div class="container">
    <form method="post">
        <div class="container3">

            <div class="container1">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Title</label>
                    <input asp-for="Title" type="Text" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div>
                    <label>Room</label>
                    <select  asp-items="Model.Rooms" class="form-select" aria-label="Default select example" asp-for="RoomId">
                        <option value="">--Select Room--</option>
                    </select>
                </div>
                  <div class="mb-3 mt-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
            </div>

            <div class="container2">
                 <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Start Date</label>
                <input asp-for="StartDate" type="datetime-local" class="form-control" id="exampleFormControlInput1" >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">End Date</label>
                <input asp-for="EndDate" type="datetime-local" class="form-control" id="exampleFormControlInput1" >
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Atendee</label>
                <input asp-for="Atendee" type="Email" class="form-control" id="exampleFormControlInput1" placeholder="email">
            </div>

        </div>     
      
        <div class="mb-3 btn">
            <button type="submit" value="booking" class="btn-blue">Booking</button>
        </div>
    </form>
</div>
</main>