@page
@model Project.Pages.Admin.Index
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewData["Title"] = "Index";
}

<main>
    <div>
        <div class="container mb-3">
            <form class="form-inline">
                <div class="form-group gap-1 mr-3">
                    <label for="Room" class="gap-3">Ukuran Ruangan:</label>
                    <select asp-for="Room"  class="form-control form-select" aria-label="Default select example" id="Room" style="width: 200px;">
                        <option value="">All</option>
                        <option value="Kecil">Kecil</option>
                        <option value="Sedang">Sedang</option>
                        <option value="Besar">Besar</option>
                    </select>
                </div>
                <div class="form-group gap-1">
                    <label for="SearchString">Keyword:</label>
                    <input type="text" asp-for="SearchString" class="form-control gap-1 mr-2" id="SearchString"
                        placeholder="Input Keyword" />
                </div>
                <button type="submit" class="btn-blue">Filter</button>
            </form>
        </div>
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FJakarta&color=%23039BE5&color=%238E24AA&color=%237627bb&color=%23137333&color=%23c26401&color=%2333B679&color=%230B8043&color=%23c26401&color=%23007b83&color=%230047a8&color=%237627bb&color=%23174ea6&color=%23137333 @Html.DisplayFor(modelItem => Model.ListCalendar)"
            style="border:solid 1px #777" width="990" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
</main>
