.btn-blue {
    background-color: #F7A246;
    width: 6rem;
    height: 2rem;
    color: #fff;
    border-radius: 2px;
    border-radius: 8px;
}

.btn {
    
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer;
}
