@page
@model Project.Pages.User.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form>
    <p>
        ukuran Ruangan : <select asp-for="Room">
            <option value="">All</option>
            <option value="Kecil">Kecil</option>
            <option value="Sedang">Sedang</option>
            <option value="Besar">Besar</option>
        </select>
        <input type="text" asp-for="SearchString" placeholder="Input Keyword"/>
        <input type="submit" value="Filter" />
    </p>
</form>
<iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FJakarta&color=%23039BE5&color=%238E24AA&color=%237627bb&color=%23137333&color=%23c26401&color=%2333B679&color=%230B8043&color=%23c26401&color=%23007b83&color=%230047a8&color=%237627bb&color=%23174ea6&color=%23137333 @Html.DisplayFor(modelItem => Model.ListCalendar)" style="border:solid 1px #777" width="850" height="600" frameborder="0" scrolling="no" ></iframe>
</div>